<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457430725265-bjuf630aa9l7698dsrpcs0buim5qa3r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457430725265-bjuf630aa9l7698dsrpcs0buim5qa3r7</string>
	<key>API_KEY</key>
	<string>AIzaSyBFprEgVcyqvf7uJJ2Kkoe45-m1qYJGpuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>457430725265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled10</string>
	<key>PROJECT_ID</key>
	<string>chatapp-6aa6d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-6aa6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457430725265:ios:89399fee111389175f8530</string>
</dict>
</plist>